:root{
    --col-pink:#F8CEEF;
    --col-yellow:#FFC533;
    --col-black:#131517;
    --col-white:#FFFFFF;
    --col-blue:#91FFF7;
    --col-gray:#8C8C8E;
}

body{
    margin: 0;
    padding: 0;
    background-color: var(--col-pink);
}
/*style container to covers the whole body*/
.container{
    width: 100%;
    height: 100vh;
}
/*align top nav at top*/
.top-nav{
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
    border-bottom: #8C8C8E 1px solid;
}
a{
    text-decoration: none;
    color: var(--col-yellow);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    font-family: 'Sigmar', cursive;
    font-size:1.5rem;
    font-weight: lighter;
}
.active {
    color: var(--col-white);
}
a:hover{
    color: var(--col-white);
}
.left{
    width: 50%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 5%;
}
section{
    padding: 0px;
    margin: 0px;
    height:100%;
    display: flex;
    flex-wrap: wrap;
    border-bottom: #8C8C8E 1px solid ;
}
section .top-left-section{
    float: left;
    width:60%;
    height: 50%;
    border-right: #8C8C8E 1px solid ;
    border-bottom: #8C8C8E 1px solid ;
}
section .top-right-section{
    float: right;
    width:39.9%;
    height: 40%;
    border-bottom: #8C8C8E 1px solid ;
}
section .bottom-left-section{
    float: left;
    width:60%;
    height: 50%;
    border-right: #8C8C8E 1px solid ;
}
section .bottom-right-section{
    float: right;
    width:39.9%;
    height: 60%;
}
/*design footer*/
footer{
    padding: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-top: #8C8C8E 1px solid ;
}
footer p{
    font-size: 1rem;
    font-weight: lighter;
    color: var(--col-gray);
    margin: 0;
}

/*use media to hide borders for small screens*/
@media screen and (max-width: 768px) {
    section .top-left-section{
        border-right: none;
        border-bottom: none;
    }
    section .top-right-section{
        border-bottom: none;
    }
    section .bottom-left-section{
        border-right: none;
    }
}

