:root {
  --col-pink: #f8ceef;
  --col-yellow: #ffc533;
  --col-black: #131517;
  --col-white: #ffffff;
  --col-blue: #91fff7;
  --col-gray: #8c8c8e;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--col-pink);
}
/*style container to covers the whole body*/
.container {
  width: 100%;
  height: 100vh;
}
/*align top nav at top*/
.top-nav {
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;
  border-bottom: #8c8c8e 1px solid;
}
a {
  text-decoration: none;
  color: var(--col-yellow);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  font-family: "Sigmar", cursive;
  font-size: 1.5rem;
  font-weight: lighter;
}
.active {
  color: var(--col-white);
}
a:hover {
  color: var(--col-white);
}
.left {
  width: 50%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 5%;
}
section {
  padding: 0px;
  margin: 0px;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}
section .top-left-section {
  float: left;
  width: 60%;
  height: 50%;
  border-right: #8c8c8e 1px solid;
  border-bottom: #8c8c8e 1px solid;
}
section .top-right-section {
  float: right;
  width: 39.9%;
  height: 50%;
  display: flex;
  flex-direction: row;
  border-bottom: #8c8c8e 1px solid;
}
section .bottom-left-section {
  float: left;
  width: 60%;
  height: 50%;
  border-right: #8c8c8e 1px solid;
  border-bottom: #8c8c8e 1px solid;
}
section .bottom-right-section {
  float: right;
  width: 39.9%;
  height: 50%;
  border-bottom: #8c8c8e 1px solid;
}
section .left-section-header h1 {
  padding-left: 1rem;
  font-family: "Sigmar", cursive;
  font-size: 1.5rem;
  font-weight: lighter;
  color: var(--col-white);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}
section .left-section-header p {
  padding-left: 1rem;
  margin-top: -20px;
  font-family: 'Roboto Mono', monospace;
  font-size: 1rem;
  font-weight:300;
  color: var(--col-black);
}
section .left-section-header .amount{
  padding-left: 1rem;
  margin-top: -10px;
  font-family: "Sigmar", cursive;
  font-size: 2rem;
  font-weight: lighter;
  color: var(--col-yellow);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}
/*place image inside top left section*/
section .top-left-section .graph {
  width: 60%;
  height: 50%;
  object-fit: cover;
  float:right;
  margin-top: -100px ;
  margin-right: 20px;
}
/*design blue color card in center of top right section*/
section .top-right-section .card {
  width: 400px;
  padding: 1rem;
  margin-left: 100px;
  height: 50%;
  float: left;
  background-color: var(--col-blue);
  border: 1px solid var(--col-gray);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 10px 10px 5px var(--col-gray);
}

/*design footer*/
footer {
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
/*use media to hide borders for small screens and display section elements one below other and shift footer below 
end of right bottome and move graph image below */
@media only screen and (max-width: 600px) {
  section .top-left-section {
    float: left;
    width: 100%;
    height: 50%;
    border-right: none;
  }
  section .top-right-section .card {
  margin-left: 10px;
}
  section .top-right-section {
    float: right;
    width: 100%;
    height: 40%;
  }
  section .bottom-left-section {
    float: left;
    width: 100%;
    height: 50%;
    border-right: none;
  }
  section .bottom-right-section {
    float: right;
    width: 100%;
    height: 60%;
    border:none;
  }
}